<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4주차 과제</title>
    {% load static %}
    <link rel='stylesheet' type="text/css" href="{% static 'myidea/style.css' %}"/>
</head>
<body>
    <div class="mainbox">
    <div class="title-box">
    <h1>나의 아이디어</h1>
    </div>
    <section>
        <h2>제목 : 생일축하해!</h2>
        <p>작년 겨울에 인스타그램에서 유행했던, '내 트리를 꾸며줘'에서 아이디어를 얻음.
            유사한 형식이지만, '크리스마스'가 아닌 '생일'을 주제로 함.
        </p>
    </section>
    <section>
        <h2>주제 선정 동기</h2>
        <p>'내 트리를 꾸며줘'를 보고, 정말 좋은 아이디어라고 생각했다. 많은 사람들이 크리스마스가 다가옴에 따라 연말 분위기를 느끼며 행복해한다는건 누구나 아는 사실이었다. 
            그러한 기대감이 '내 트리를 꾸며줘'가 큰 인기를 얻은 하나의 이유라 생각한다. 문득, 사람들이 기다리는 날은 '크리스마스'말고도 더 있지 않을까 하는 생각을 했다.
        누구나 각자 자신이 태어난 날, 바로 생일 ! 암만 생일에 의미를 부여하지 않는 사람이라도, 생일 당일 누군가가 생일을 축하해주면 기분이 좋아지기 마련이다. 
            이는 즉, 누구나 생일에 대한 '기대감'을 가지고 있다는 의미 아닐까? 그러한 기대감을 겨냥한 웹은 자연스레 사람들의 진입장벽을 낮춰줄거라 생각했다. 
        </p>
    </section>
    <section>
        <h2>기대 효과</h2>
        <p>'내 트리를 꾸며줘'처럼, 사람들이 많이 하는 sns를 통해 서로 공유된다면, 쉬운 접근성으로 보다 높은 이용량을 기대할 수 있다. 
            뿐만 아니라, '내 트리를 꾸며줘'는 크리스마스를 디데이로 하기에, 웹서비스 사용 시즌이 정해져 있던것이 아쉬웠다. 
            '생일'을 대상으로 한다면, 그러한 시기의 제한은 줄어들 것이다. 즉, 지속적인 이용량이 있을거라 기대할 수 있다.
        </p>
    </section>
    <section>
        <h2>핵심 타겟층</h2>
        <p>20,30대. 특히 sns 이용자</p>
    </section>
    <section>
        <h2>핵심 기능</h2>
        <p>간단한 회원가입이 우선시 된다. 회원가입 후, 사용자(생일 당사자)는 '파티룸' 일러스트가 띄워진 화면을 접한다.
            파티룸에는 테이블, 선물 박스 몇개 등이 기본으로 있다. 생일 당사자는 생일 디데이를 설정할 수 있다. 
            그러한 웹사이트를 링크 등을 이용해 sns에 공유한다. 링크를 통해 다른이들은 해당 페이지에 접속할 수 있다.
            파티룸 페이지에서, 원하는 일러스트(예시: 선물박스, 케이크, 샴페인, 인형, 풍선 등)를 고르고, 생일 축하 메세지를 작성한다.
            메세지 작성이 완성되면 메세지 내용은 생일 당일이 될때까지는 볼 수 없는 형태로, 이전에 골랐던 일러스트의 형태로 파티룸 페이지에 장식된다.
            더 나아가서 단순한 '텍스트' 메세지가 아닌, 음성 메세지, 이미지 등으로 생일축하 메세지를 추가할 수 있도록 확장 구현한다.
        </p>
    </section>
    </div>
</body>
</html>