<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4주차 과제</title>
    {% load static %}
    <link rel='stylesheet' type="text/css" href="{% static 'myidea/style.css' %}"/>
</head>
<body>
    <div class="mainbox">
    <div class="title-box">
    <h1>나의 아이디어</h1>
    </div>
    <section>
        <h2>주제 선정 동기</h2>
        <p>샘플</p>
    </section>
    <section>
        <h2>기대 효과</h2>
        <p>샘플</p>
    </section>
    <section>
        <h2>핵심 타겟층</h2>
        <p>샘플</p>
    </section>
    <section>
        <h2>핵심 기능</h2>
        <p>샘플</p>
    </section>
    </div>
</body>
</html>